.header{
    background-color: #283E4A;
    height: 60px;
    
}
.logo{
    margin-left: 60px;
    list-style-type: none;
}
.navigation_tabs{
 position: absolute;
 margin-left: 130px;
 margin-top:2px;
}
 .nav_header{
    position:absolute;
    float: left;
    margin-left: 530px;
}
.icon_middle {
margin-top: 50px;    
width:50px;
float: left;
width: 100px;
height: 85px;
font-size:14px; 
color: #C7D1D8;
}
.icon_middle span {
display:block;
}
.icon_middle img{
    margin-left: 4px;
}